<script lang="ts">
import axios from 'axios';
import { getFolders, getFiles } from '../ffp.js';
import Fun from '../../../../Functions/myfunction.vue';
import Swal from 'sweetalert2';
import Itemlist from '../item_listfile.vue';
import { defineComponent, ref } from 'vue';
export default defineComponent ({
    name: 'folder-music',
    components: {
        Itemlist, getFolders, getFiles,
    },
    mixins:[Fun],
    props: {
        iconplayer: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            listfolders: ref([]),
            listfiles: ref([]),
            combine: ref([]),
            path: ref(''),
            folderid: ref(''),
            foldername: ref(''),
            folderdescription: ref(''),
            iconplay: this.iconplayer['play'],
        }
    },
    async created() {
        this.listfolders = await getFolders(this.getCookie('mcr_x_aswq_2'), 'foldername', 'asc')
    },
    methods: {
        uploadFile() {

        },
        updateFile() {

        },
        deleteFile() {

        },
        editFolder() {
            $('.edit-data-folder').attr('readonly', false);
            $('#btn_modal_edit_folder').addClass('is-hidden');
            $('#btn_modal_cancel_edit_folder').removeClass('is-hidden');
        },
        cancelEditFolder() {
            $('.edit-data-folder').attr('readonly', true);
            $('#btn_modal_edit_folder').removeClass('is-hidden');
            $('#btn_modal_cancel_edit_folder').addClass('is-hidden');
        },
        createFolder() {

        },
        updateFolder() {

        },
        deleteFolder() {

        },
        async itemFolder(id: String, foldername: String) {
            this.path = ref(foldername);
            this.listfiles = await getFiles(this.getCookie('mcr_x_aswq_2'), id, 'filename', 'asc', 'folder')
            console.log('listfiles', this.listfiles);
            $('#nav-folder-child').html(this.path);
            $('#nav-item-back-folder').removeClass('is-hidden');
            if(foldername == '') $('#nav-item-back-folder').addClass('is-hidden');
        },
        itemFolderSetting(id: String, foldername: String, description: String) {
            this.folderid = ref(id)
            this.foldername = ref(foldername)
            this.folderdescription = ref(description)
            $('#modal-folder').addClass('is-active');
        },
        openModal(id) {
            $(`#modal-${id}`).addClass('is-active');
        },
        modalClose(id) {
            $(`#modal-${id}`).removeClass('is-active');
        }
    }
})
</script>

<template>
<div id="dashboard_folder" class="is-hidden fadein p-0 m-t-0">
    <div class="field has-addons">
        <p class="control is-expanded">
            <input class="input is-rounded" type="text" placeholder="Find your music here..">
        </p>
        <p class="control">
            <span id="add-folder" class="button is-success">
                <ion-icon name="add-circle-outline"></ion-icon>
            </span>
        </p>
        <p class="control">
            <span id="upload-file" class="button is-link">
                <ion-icon name="cloud-upload-outline"></ion-icon>
            </span>
        </p>
    </div>

    <div class="m-l-r-10 m-t-10 text-is-black" id="nav-breadcumb">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul id="nav-folder">
                <li id="nav-item-back-folder" class="is-hidden" @click="itemFolder('root', '')">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </li>
                <li class="m-l-10" @click="itemFolder('root', '')">
                    <a href="#">root</a>
                </li>
                <li>
                    <a href="#" id="nav-folder-child"></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="m-t-10 m-b-50 text-is-black">
        <div v-if="path === ''">
            <div v-for="(fd, xfd) in listfolders" :key="xfd" :id="xfd+'.'+fd['foldername']" class="item-list">
                <div class="columns is-mobile is-responsive">
                    <div class="column is-1 center" @click="play">
                        <span id="btn_mplaypause" title="Play">
                            <img :src="iconplay" width="25" />
                        </span>
                    </div>

                    <div class="column is-10" @click="itemFolder(fd['id_1004'], fd['foldername'])">
                        <span>
                            {{ fd['foldername'] }}
                        </span>
                    </div>

                    <div class="column is-1 center" @click="itemFolderSetting(fd['id_1004'], fd['foldername'], fd['ket'])">
                        <span class="">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div v-else>
            <Itemlist :itemlist="listfiles" :iconplayer="iconplayer" />
        </div>
    </div>

    <button type="button" id="fab-folder nav-theme" class="fab" @click="openModal('addfolder')">
        <ion-icon name="add-outline" size="large"></ion-icon>
    </button>
</div>

<div class="modal is-rounded" id="modal-folder">
    <div class="modal-background" @click="modalClose('folder')"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title text-is-black m-r-20">
                <div class="control" id="edit-foldername">
                    <input class="modal-edit-title edit-data-folder" type="text" id="foldername" placeholder="Filename.." v-model="foldername" readonly />
                </div>
            </p>
            <button class="delete" aria-label="close" @click="modalClose('folder')"></button>
        </header>
        <section class="modal-card-body text-is-black">
            <textarea class="textarea is-info edit-data-folder" id="ket" placeholder="Description.." rows="5" v-model="folderdescription" readonly></textarea>
        </section>
        <footer class="modal-card-foot center">
            <span class="button" id="btn_modal_edit_folder" @click="editFolder">
                <ion-icon name="create-outline"></ion-icon>
            </span>

            <span class="button is-hidden" id="btn_modal_cancel_edit_folder" @click="cancelEditFolder">
                <ion-icon name="close-outline"></ion-icon>
            </span>

            <span class="button" id="btn_modal_update_folder" @click="updateFolder(fileid)" disabled>
                <ion-icon name="save-outline"></ion-icon>
            </span>

            <span class="button" id="btn_modal_delete_folder" @click="deleteFolder(fileid)">
                <ion-icon name="trash-outline"></ion-icon>
            </span>
        </footer>
    </div>
</div>

<div class="modal is-rounded" id="modal-addfolder">
    <div class="modal-background" @click="modalClose('addfolder')"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title text-is-black m-r-20">
                <h1 class="title bold">Create Folder</h1>
            </p>
            <button class="delete" aria-label="close" @click="modalClose('addfolder')"></button>
        </header>
        <section class="modal-card-body text-is-black">
            <form @prevent="createFolder" name="createfolder_form" id="createfolder_form">
                <div v-if="path == ''"><span class="bold">Folder will be create in directory: Root</span></div>
                <div v-else><span class="bold">Folder will be create in directory: {{ path }}</span></div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text"
                                name="foldername"
                                id="foldername"
                                v-model="foldername"
                                placeholder="foldername.."
                            class="input is-rounded">
                        <span class="icon is-small is-left text-is-black bold">
                            <ion-icon name="folder-outline"></ion-icon>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text"
                                name="description"
                                id="description"
                                v-model="description"
                                placeholder="description.."
                            class="input is-rounded">
                        <span class="icon is-small is-left text-is-black bold">
                            <ion-icon name="text-outline"></ion-icon>
                        </span>
                    </div>
                </div>

                <div class="m-t-30">
                    <div class="buttons has-addons is-centered">
                        <Button type="submit"
                                name="folderok"
                                id="folderok"
                                title="OK"
                                class="button is-info is-link is-rounded is-medium">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </Button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
</template>

