<script lang="ts">
import { Head } from '@inertiajs/vue3';
import Button from '../../Components/MyButton.vue';
import Link from '../../Components/MyLink.vue';
import { defineComponent } from 'vue';
export default defineComponent ({
    name: 'about-us',
    components: {
        Head, Button, Link,
    },
    props: {
        link_login: {
            type: String,
            default: null,
        },
    }
})
</script>

<template>
<Head title="About Us" />
<div class="p-50 fadein">
    <div class="boxbf p-30 m-b-50">
        <div class="title center bold text-is-black shadowtext-3-3">About Us</div>

        <div class="m-t-30 justify content text-is-black">
            <p class="center">
                Cloud Storage Drive <span class="italic">(music files only)</span> <br/>
                + <br/>
                Music Player
            </p>
            <p>
                <span class="bold italic underline">My Cloud Player</span> is a music platform that can store your <span class="italic">(only)</span> music files, after you store it, you can play it on the built-in player. So that you can hear the music wherever and whenever you are!
                <br/><br/>
                Doesn't matter you're logged in on your PC Device (any os) or Smarphone Device (any os) or any other OS, just enter and use our platform. We hope it suits you!
                <br/><br/>
                Well, technically it's created based on our creator experiences. 🤭
                <br/><br/>
                Wether it's just for your music collection or store your favorites and/or likes musics.
                <br/><br/>
                Interested in our product? Feel free to register <a href="signin" class="is-link bold underline">here</a>, it won't charge you for the first time use! Well, anyway you got free 4GB storage for the first time. If you Kepo, you can check our upgrade storage level, <a href="upgradestorage" class="is-link bold underline">here</a>
            </p>
        </div>

        <div class="center">
            <Link :linkto="link_login" title="Login" class="button is-link is-rounded is-medium">
                <ion-icon name="home-outline"></ion-icon>
            </Link>
        </div>

    </div>
</div>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-image: url('../../assets/backwall/wall5.jpg') !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
