<script lang="ts">
import { Head } from '@inertiajs/vue3';
import Button from '../../Components/MyButton.vue';
import Link from '../../Components/MyLink.vue';
import { defineComponent } from 'vue';
export default defineComponent ({
    name: 'forgot-password',
    components: {
        Head, Button, Link,
    },
    props: {
        link_login: {
            type: String,
            default: null,
        },
    },
    methods: {
        send() {

        }
    }
})
</script>

<template>
<Head title="Forgot Password" />
<div class="p-50 fadein">
    <form action="" method="post" class="boxbf" name="forgot_pass" id="forgot_pass">
        <p class="text-is-black">
            <span class="bold italic underline">Forgot your password?</span>
            send you email here, we will give you a link to reset your password</p>

        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                        name="user"
                        id="user"
                        v-model="user"
                        placeholder="Username / Email / Phone Number"
                    class="input is-rounded">
                <span class="icon is-small is-left text-is-black bold">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
            </div>
        </div>

        <div class="m-t-30">
            <div class="buttons has-addons is-centered">
                <Link :linkto="link_login" title="What About Us" class="button is-danger is-light is-rounded is-medium">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </Link>

                <Button type="submit"
                        name="registerok"
                        id="registerok"
                        title="OK"
                        @click="send()"
                        class="button is-link is-rounded is-medium">
                    <ion-icon name="send-outline"></ion-icon>
                </Button>
            </div>
        </div>
    </form>
</div>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-image: url('../../assets/backwall/wall5.jpg') !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
