<script lang="ts">
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
import Button from '../../Components/MyButton.vue';
import Link from '../../Components/MyLink.vue';
import Fun from '../../Functions/myfunction.vue';
import Swal from 'sweetalert2';
import { defineComponent } from 'vue';
export default defineComponent ({
    name: 'login',
    components: {
        Head, Button, Link,
    },
    mixins:[Fun],
    props: {
        link_aboutus: {
            type: String,
            default: null,
        },
        link_levelup: {
            type: String,
            default: null,
        },
        link_forgotpassword: {
            type: String,
            default: null,
        }
    },
    data() {
        return {
            user: '',
            pass: '',
        }
    },
    methods: {
        async login() {
            try {
                const response = await axios.post('../api/user/login', {
                    user: this.user,
                    pass: this.pass
                });
                window.location.href = '/player'

                // console.log(response.data.data.mcr_x_aswq_0);
                // parameter this.setCookie(name, value, isencrypt, days, issecure, strictness)
                /*
                this.setCookie('mcr-x-aswq-1', response.data.data.mcr_x_aswq_1, false, 1, true, 'strict')
                this.setCookie('mcr-x-aswq-2', response.data.data.mcr_x_aswq_2, false, 1, true, 'strict')
                this.setCookie('mcr-x-aswq-3', response.data.data.mcr_x_aswq_3, false, 1, true, 'strict')
                this.setCookie('mcr-x-aswq-4', response.data.data.mcr_x_aswq_4, false, 1, true, 'strict')
                this.setCookie('mcr-x-aswq-5', response.data.data.mcr_x_aswq_5, false, 1, true, 'strict')
                this.setCookie('theme', response.data.data.theme, false, 1, true, 'strict')
                this.setCookie('text', response.data.data.text, false, 1, true, 'strict')
                this.setCookie('bar', response.data.data.bar, false, 1, true, 'strict')
                this.setCookie('wall_img', response.data.data.wall_img, false, 1, true, 'strict')
                this.setCookie('wall_heigth', response.data.data.wall_heigth, false, 1, true, 'strict')
                this.setCookie('wall_width', response.data.data.wall_width, false, 1, true, 'strict')
                this.setCookie('wall_size', response.data.data.wall_size, false, 1, true, 'strict')
                this.setCookie('wall_position', response.data.data.wall_position, false, 1, true, 'strict')
                this.setCookie('wall_repeat', response.data.data.wall_repeat, false, 1, true, 'strict')
                this.setCookie('wall_attachment', response.data.data.wall_attachment, false, 1, true, 'strict')
                // arahkan pengguna ke halaman yang sesuai setelah login berhasil
                Swal.fire({
                    title: 'You\'re Login!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                }).then((result) => {
                    window.location.href = '/player'
                })
                */
            } catch (error) {
                if(error.response) {
                    Swal.fire({
                        title: 'Something\'s Wrong! Try Again!',
                        text: error.response.data.msg,
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                }
                else {
                    Swal.fire({
                        title: 'Something\'s Wrong! Try Again!',
                        text: 'Check You\'re Connection!',
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                }
            }
        },
    }
})
</script>

<template>
<Head title="Login" />
<div class="p-50 is-mobile fadein">
    <form @submit.prevent="login" name="login_form" id="login_form" class="boxbf">
        <div class="title center bold text-is-black shadowtext-3-3">Login</div>

        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                        name="user"
                        id="user"
                        v-model="user"
                        placeholder="Username / Email.."
                    class="input is-rounded">
                <span class="icon is-small is-left text-is-black bold">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control has-icons-left">
                <input type="password"
                        name="pass"
                        id="pass"
                        v-model="pass"
                        placeholder="Password.."
                    class="input is-rounded">
                <span class="icon is-small is-left text-is-black bold">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
            </div>
        </div>

        <div class="m-t-30">
            <div class="buttons has-addons is-centered">
                <Button type="submit"
                        name="loginok"
                        id="loginok"
                        title="OK"
                        class="button is-success is-link is-rounded is-medium">
                    <ion-icon name="log-in-outline"></ion-icon>
                </Button>

                <Link linkto="signin" title="Sign In" class="button is-link is-rounded is-medium">
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                </Link>
            </div>
        </div>

        <div class="field m-t-20 right">
            <p class="control">
                <Link :linkto="link_aboutus" title="What About Us" class="tag is-link is-info is-rounded">
                    What About Us?
                </Link>

                <Link :linkto="link_levelup" title="Level Up!" class="tag is-danger is-rounded">
                    Level Up!
                </Link>

                <Link :linkto="link_forgotpassword" title="Forgot Password" class="tag is-link is-rounded">
                    Forgot Password
                </Link>
            </p>
        </div>
    </form>
</div>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-image: url('../../assets/backwall/wall5.jpg') !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
