<script lang="ts">
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
import { Form, ErrorMessage } from 'vee-validate';
import Button from '../../Components/MyButton.vue';
import Link from '../../Components/MyLink.vue';
import Swal from 'sweetalert2';
import { defineComponent } from 'vue';
export default defineComponent ({
    name: 'register',
    components: {
        Head, Button, Link,
        Form, ErrorMessage,
    },
    props: {
        link_login: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            username: '',
            email: '',
            pass: '',
            repass: '',
        }
    },
    methods: {
        async send() {
            try {
                if(this.username && this.email && this.pass && this.repass) {
                    if(this.pass === this.repass) {
                        const response = await axios.post('../../api/user/save', {
                            username: this.username,
                            email: this.email,
                            password: this.pass
                        })

                        Swal.fire({
                            title: 'Congratulations! You\'re Data Had Been Save Into Our System!',
                            icon: 'success',
                            confirmButtonText: 'OK',
                        }).then((result) => {
                            // console.log('response', response);
                            this.setNull()
                        })
                    } else {
                        Swal.fire({
                            title: 'Password and Repeat Password MUST BE THE SAME!',
                            icon: 'warning',
                        });
                    }
                } else if (this.username && this.email && (!this.pass || !this.repass)) {
                    Swal.fire({
                        title: 'Password and Repeat Password must be filled!',
                        icon: 'warning',
                    });
                } else {
                    Swal.fire({
                        title: 'Username, Email, Password, and Repeat Password MUST BE FILLED!',
                        icon: 'warning',
                    });
                }
            }
            catch(error) {
                if(error.response) {
                    Swal.fire({
                        title: 'Something\'s Wrong! Try Again!',
                        text: error.response.data.msg,
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                } else {
                    Swal.fire({
                        title: 'Something\'s Wrong! Try Again!',
                        text: 'Check You\'re Connection!',
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                }
            }
        },
        setNull() {
            this.username = null;
            this.email = null;
            this.pass = null;
            this.repass = null;
            $('#username').val(null);
            $('#email').val(null);
            $('#password').val(null);
            $('#repassword').val(null);
        },
        validateEmail(value) {
            // if the field is empty
            if (!value) {
                return 'This field is required';
            }
            // if the field is not a valid email
            const regex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
            if (!regex.test(value)) {
                return 'This field must be a valid email';
            }
            // All is good
            return true;
        },
    }
})
</script>

<template>
<Head title="Sign In" />
<div class="p-50 is-mobile fadein">
    <form @submit.prevent="send" name="register_form" id="register_form" class="boxbf">
        <div class="title center bold text-is-black shadowtext-3-3">Sign In</div>

        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                        name="user"
                        id="user"
                        v-model="username"
                        placeholder="Username.."
                    class="input is-rounded">
                <span class="icon is-small is-left text-is-black bold">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                        name="email"
                        id="email"
                        v-model="email"
                        placeholder="Email.."
                    class="input is-rounded">
                <span class="icon is-small is-left text-is-black bold">
                    <ion-icon name="mail-outline"></ion-icon>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control has-icons-left">
                <input type="password"
                        name="pass"
                        id="pass"
                        v-model="pass"
                        placeholder="Password.."
                    class="input is-rounded">
                <span class="icon is-small is-left text-is-black bold">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control has-icons-left">
                <input type="password"
                        name="repass"
                        id="repass"
                        v-model="repass"
                        placeholder="Repeat-Password.."
                    class="input is-rounded">
                <span class="icon is-small is-left text-is-black bold">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
            </div>
        </div>

        <div class="m-t-30">
            <div class="buttons has-addons is-centered">
                <Link :linkto="link_login" title="Login" class="button is-danger is-light is-rounded is-medium">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </Link>

                <Button type="submit"
                        name="registerok"
                        id="registerok"
                        title="OK"
                        class="button is-primary is-link is-rounded is-medium">
                    <ion-icon name="log-in-outline"></ion-icon>
                </Button>
            </div>
        </div>
    </form>
</div>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-image: url('../../assets/backwall/wall5.jpg') !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
