<script lang="ts">
import { Head } from '@inertiajs/vue3';
import Level from '../0/table_purchase_storage.vue';
import Button from '../../Components/MyButton.vue';
import Link from '../../Components/MyLink.vue';
import { defineComponent } from 'vue';
export default defineComponent ({
    name: 'storage-levelup',
    components: {
        Level, Head, Button, Link,
    },
    props: {
        link_login: {
            type: String,
            default: null,
        },
    }
})
</script>

<template>
<Head title="Level Up" />

<div class="p-50 is-mobile fadein">
    <div class="boxbf p-30 m-b-50">
        <div class="title center bold text-is-black shadowtext-3-3">Level Up</div>

        <div class="m-t-30 justify content text-is-black">
            <Level />

            <div class="center">
                <Link :linkto="link_login" title="Login" class="button is-link is-rounded is-medium">
                    <ion-icon name="home-outline"></ion-icon>
                </Link>
            </div>
        </div>
    </div>
</div>
</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-image: url('../../assets/backwall/wall5.jpg') !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
