<script lang="ts">
import axios from 'axios';
import Fun from '../../../Functions/myfunction.vue';
import DOMPurify from 'isomorphic-dompurify';
import Swal from 'sweetalert2';
import { defineComponent, ref } from 'vue';
export default defineComponent ({
    name: 'user-profile',
    components: {
    },
    mixins: [Fun],
    data() {
        return {
            name: ref(''),
            username: ref(''),
            email: ref(''),
            level: ref(''),
            tpl: ref(''),
            tgl: ref(''),
            tlp: ref(''),
            pin: ref(''),
            // viewprofiledata : [],
            // profile : GS,
        }
    },
    created() {
        this.readDataProfile()
    },
    computed: {
        async fetchUserProfile() {
            return await this.readDataProfile()
        }
    },
    methods: {
        async readDataProfile() {
            const response = await axios.get(`../api/user/${this.getCookie('mcr_x_aswq_1')}`, {
                'headers': {
                    'accept' : 'application/json',
                    'mcr-x-aswq' : 'mC12x@12!5Of!a'
                }
            });
            // console.log('profile response', response);
            this.name = ref(response.data.data.name);
            this.username = ref(response.data.data.username);
            this.email = ref(response.data.data.email);
            this.level = ref(response.data.data.level);
            this.tpl = ref(response.data.data.tempat_lahir);
            this.tgl = ref(response.data.data.tgl_lahir);
            this.tlp = ref(response.data.data.tlp);
            this.pin = ref(response.data.data.pin);
        },
        toEditprofile() {
            $('#nav-bottom').addClass('is-hidden');
            $('#profile').addClass('is-hidden');
            $('#dashboard').addClass('is-hidden');
            $('#setting').addClass('is-hidden');
            $('#editprofile').removeClass('is-hidden');
            $('#editprofile').addClass('w3-animate-right');
        },
        sanitize(html) {
            const allowedTags = ['p', 'strong', 'em', 'b', 'u', 'i', 'br']
            const allowedAttributes = {
                'a': ['href', 'target']
            }

            return DOMPurify.sanitize(html, {
                ALLOWED_TAGS: allowedTags,
                // ALLOWED_ATTR: allowedAttributes
            })
        }
    },
})
</script>
<template>
<div class="is-hidden" id="profile">
    <section class="hero nav-theme">
        <div class="hero-body nav-theme">
            <p class="title bold italic nav-text" id="profile_nama" v-html="sanitize(name)" />
            <p class="subtitle nav-theme nav-text">
                <span class="nav-text" id="profile_username" v-html="sanitize(username)" /><br/>
                <span class="nav-text" id="profile_email" v-html="sanitize(email)" /><br/>
                <span class="nav-text">Level :</span> <span class="nav-text" id="profile_level" v-html="sanitize(level)" />
            </p>
        </div>
    </section>

    <div class="p-30 has-background nav-text">
        <p>
            <span class="bold">Place, Birthdate :</span> <span id="profile_tgl" v-html="sanitize(`${tpl}, ${tgl}`)" /><br/>
            <span class="bold">Phone Number :</span> <span id="profile_tlp" v-html="sanitize(tlp)" /><br/>
            <span class="bold">Pin :</span> <span id="profile_pin" v-html="sanitize(pin)" /><br/>
        </p>

        <div class="bottom m-b-50">
            <div class="buttons has-addons is-centered">
                <a href="#levelup" class="button is-primary is-success is-rounded is-selected" title="Level Up!">
                    <ion-icon name="chevron-up-outline"></ion-icon>
                </a>

                <a href="#edit" id="toeditprofile" @click="toEditprofile()" class="button is-s is-link is-rounded is-selected" title="Edit Profil">
                    <ion-icon name="create-outline"></ion-icon>
                </a>

                <a href="#photo" class="button is-primary is-link is-rounded is-selected" title="Change Photo">
                    <ion-icon name="camera-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</div>
</template>
