<script lang="ts">
import axios from 'axios';
import { setTheme, getTheme, setBar, getBar, setText, getText } from '../sharedvalues';
import { Head } from '@inertiajs/vue3';
import Body from './2/body.vue';
import NavBottom from './2/navbottom.vue';
import Crypto from 'crypto-js';
import Fun from '../Functions/myfunction.vue';
import MyMusicList from './2/1_dashboard/4_musiclist/musiclist.vue';
import { defineComponent, ref } from 'vue';
export default defineComponent ({
    name: 'parent-dashboard',
    mixins: [Fun],
    components: {
        Head, Body, NavBottom, MyMusicList,
        Crypto,
    },
    props: {
        iconplayer: {
            type: Array,
            default: null,
        }
    },
    data() {
        return {
            // cstext: ref(this.getCookie('text')),
            // cstheme: ref(this.getCookie('theme')),
            // csbar: ref(this.getCookie('bar')),
            cstext: ref(''),
            cstheme: ref(''),
            csbar: ref(''),
        }
    },
    created() {
        // this.cstext = setInterval(() => ref(this.getCookie('text')), 10)
        // this.cstheme = setInterval(() => ref(this.getCookie('theme')), 10)
        // this.csbar = setInterval(() => ref(this.getCookie('bar')), 10)
        // console.log('cstext', this.cstext)
        // console.log('cstheme', this.cstheme)
        // console.log('csbar', this.csbar)
        // this.interval = setInterval(() => this.getNotifications(), 3000);
        // setText(this.getCookie('text')),
        // setTheme(this.getCookie('theme')),
        // setBar(this.getCookie('bar')),
        this.cstext = ref(this.getCookie('text')),
        this.cstheme = ref(this.getCookie('theme')),
        this.csbar = ref(this.getCookie('bar'))
    }
    /*
    ,
    mounted: function () {
        this.cstext = setInterval(() => ref(this.getCookie('text')), 1000)
        this.cstheme = setInterval(() => ref(this.getCookie('theme')), 1000)
        this.csbar = setInterval(() => ref(this.getCookie('bar')), 1000)
    },
    beforeDestroy() {
        clearInterval(this.cstext)
        clearInterval(this.cstheme)
        clearInterval(this.csbar)
    }
    */
})
</script>

<template>
    <Head title="Dashboard"  />
    <Body :iconplayer="iconplayer" />
    <NavBottom />
</template>

<style>
body {
    min-height: 100vh;
    background-color: v-bind(cstheme) !important;
    color: v-bind(cstext) !important;
}

.public-text {
    color: v-bind(cstext) !important;
}

.bodyplay {
    background-color: v-bind(cstheme);
    color: #aaa;
}

.nav-top-text {
    color: #afafaf !important;
    font-weight: bold !important;
}

.nav-theme {
    background-color: v-bind(csbar) !important;
}

.nav-text {
    color: v-bind(cstext) !important;
    font-weight: bold !important;
}

.circle-button {
    margin-bottom: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 99px;
    font-size: 22px;
    color: #000;
    background-image: white;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgb(0, 0, 0, .9);
}
</style>
