<script lant="ts">
import { defineComponent } from 'vue'
export default defineComponent ({
    name: 'dummy-page'
})
</script>

<template>

</template>

<style>
body {
    font-family: "Georgia", Noto, serif;
    background-image: url('../assets/backwall/wall5.jpg') !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
