<script setup>
import { Head } from '@inertiajs/vue3';

defineProps({
    laravelVersion: String,
    phpVersion: String,
});
</script>

<template>
    <Head title="Version" />

    <div class="box is-mobile text-is-black">
        <div class="center">
            <h1 class="title is-1 text-is-black">My Cloud Player </h1>
            <p>
                Laravel v{{ laravelVersion }} (PHP v{{ phpVersion }})
            </p>
        </div>
    </div>
</template>
