<script lang="ts">
import Dashboardplay from './1_dashboard/dashboardplayer.vue';
import Profile from './2_profile/profile.vue';
import EditProfile from './2_profile/editprofile.vue';
import Setting from './3_setting/setting.vue';
import CryptoJS  from 'crypto-js';
import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
// import 'swiper/css';
import { defineComponent } from 'vue';
export default defineComponent ({
    name: 'parent-body',
    components: {
        Dashboardplay, Profile, Setting, EditProfile,
        CryptoJS,
        Swiper, SwiperSlide
    },
    props: {
        userid: {
            type: String,
            default: null,
        },
        id1001: {
            type: String,
            default: null,
        },
        dataprofile: {
            type: Object,
            default: null,
        },
        iconplayer: {
            type: Object,
            default: null,
        },
    },
    created() {
        // props are exposed on `this`
        // console.log('Player Components : ', this.dataprofile[0])
        const onSwiper = (swiper) => {
            console.log(swiper);
        };
        const onSlideChange = () => {
            console.log('slide change');
        };
    },
    /*
    setup() {
        const onSwiper = (swiper) => {
            console.log(swiper);
        };
        const onSlideChange = () => {
            console.log('slide change');
        };
        return {
            onSwiper, onSlideChange,
        };
    },
    */
})
</script>
<template>
<div id="bodyplay">
    <!-- <EditProfile :userid="userid" /> -->
    <EditProfile />
    <!-- <swiper
        :slides-per-view="3"
        :space-between="50"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
    >
        <swiper-slide><Dashboard :iconplayer="iconplayer" /></swiper-slide>
        <swiper-slide><Profile :userid="userid" /></swiper-slide>
        <swiper-slide><Setting :userid="id1001" /></swiper-slide>
    </swiper>
    <swiper
        :slides-per-view="3"
        @swiper="onSwiper"
        @slideChange="onSlideChange">
        <Dashboard :iconplayer="iconplayer" />

        <Profile :userid="userid" />
        <Setting :userid="id1001" />
        --
        <Profile />
        <Setting />
    </swiper>
    -->
    <Dashboardplay :iconplayer="iconplayer" />
    <Profile :userid="userid" />
    <Setting :userid="id1001" />

</div>
</template>
