<script lang="ts">
import axios from 'axios';
import Swal from 'sweetalert2';
import { defineComponent } from 'vue';
export default defineComponent ({
    name: 'nav-bottom',
    methods: {
        nb_dashboard() {
            $('#profile').addClass('is-hidden')
            $('#editprofile').addClass('is-hidden')

            $('#dashboard').removeClass('is-hidden')
            $('#dashboard').addClass('w3-animate-bottom')
            $('#setting').addClass('is-hidden')
        },
        nb_profile() {
            $('#profile').removeClass('is-hidden')
            $('#profile').addClass('w3-animate-bottom')
            $('#editprofile').addClass('is-hidden')

            $('#dashboard').addClass('is-hidden')
            $('#setting').addClass('is-hidden')
        },
        nb_setting() {
            $('#profile').addClass('is-hidden')
            $('#editprofile').addClass('is-hidden')

            $('#dashboard').addClass('is-hidden')
            $('#setting').removeClass('is-hidden')
            $('#setting').addClass('w3-animate-bottom')
        },
        notification() {

        },
        async toLogout() {
            try {
                const response = await axios.get(`../api/user/logout`, {
                    'headers': {
                        'accept' : 'application/json',
                        'mcr-x-aswq' : 'mC12x@12!5Of!a'
                    }
                });
                window.location.href = '/p/login'

                // Swal.fire({
                //     title: 'You\'re Logout!',
                //     icon: 'success',
                //     confirmButtonText: 'OK',
                // }).then((result) => {
                //     window.location.href = '/p/login'
                // })
            }
            catch(error) {
                console.log(error);
                if(error.response) {
                    Swal.fire({
                        title: 'Something\'s Wrong! Try Again!',
                        text: error.response.data.msg,
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                }
                else {
                    Swal.fire({
                        title: 'Something\'s Wrong! Try Again!',
                        text: 'Check You\'re Connection!',
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                }
            }
            // window.location.href = "/logout"
        },
    }
})
</script>

<template>
<div class="page-bottom" id="nav-bottom">
    <div class="center">
        <div class="circle-button button mplay-button">
            <ion-icon name="musical-notes-outline"></ion-icon>
        </div>

    </div>
    <div class="columns is-mobile nav-theme">
        <div class="column has-text-centered is-size-4 nav-text is-danger" id="nb-logout" @click="toLogout()">
            <ion-icon name="log-out-outline"></ion-icon>
        </div>

        <div class="column has-text-centered is-size-4 nav-text" id="nb-profile" @click="nb_profile()">
            <ion-icon name="person-outline"></ion-icon>
        </div>

        <!-- <div class="column has-text-centered is-size-4 nav-text" id="nb-dashboard" @click="nb_dashboard()">
            <ion-icon name="home-outline"></ion-icon>
        </div> -->

        <div class="column has-text-centered is-size-4 nav-text" id="nb-setting" @click="notification()">
            <ion-icon name="notifications-outline"></ion-icon>
        </div>

        <div class="column has-text-centered is-size-4 nav-text" id="nb-setting" @click="nb_setting()">
            <ion-icon name="settings-outline"></ion-icon>
        </div>
    </div>
</div>
</template>

<style>

</style>
