<script lang="ts">
import { defineComponent, ref } from 'vue';
export default defineComponent ({
    name: 'addto-playlist',
    props: {

    },
    data() {

    },
    created() {

    },
    methods: {

    }
})
</script>

<template>
<div class="item-list">
    <label class="checkbox">
        <input type="checkbox">
        Playlist 1
    </label>
</div>
<div class="item-list">
    <label class="checkbox">
        <input type="checkbox">
        Playlist 2
    </label>
</div>
<div class="item-list right">
    <button type="button" class="button is-success is-rounded is-small">OK</button>
</div>
</template>
