<script lang="ts">
import NavTop from './navtop.vue'
import ThePlayer from './1_play/play.vue'
import TheFolder from './2_folder/folder.vue'
import ThePlaylist from './3_playlist/playlist.vue'
import MyMusicList from './4_musiclist/musiclist.vue'
import { defineComponent } from 'vue'
export default defineComponent ({
    name: 'dashboard-player',
    components: {
        MyMusicList, NavTop, ThePlayer, TheFolder, ThePlaylist,
    },
    props: {
        iconplayer: {
            type: Object,
            default: null,
        },
    }
})
</script>

<template>
<div id="dashboard">
    <NavTop />
    <div id="content">
        <MyMusicList :musiclist="{ data: [{name: 'Music List 1', description: 'Deskripsi Music List 1'},
                                          {name: 'Music List 2', description: 'Deskripsi Music List 2'},
                                          {name: 'Music List 3', description: 'Deskripsi Music List 3'},
                                          {name: 'Music List 4', description: 'Deskripsi Music List 4'},
                                          {name: 'Music List 5', description: 'Deskripsi Music List 5'}
                                        ] }" />

        <ThePlayer :iconplayer="iconplayer" />

        <TheFolder :iconplayer="iconplayer" />
        <!-- <TheFolder :data="[{foldername: 'Folder 1', description: 'Deskripsi Folder 1'},
                                   {foldername: 'Folder 2', description: 'Deskripsi Folder 2'},
                                   {foldername: 'Folder 3', description: 'Deskripsi Folder 3'},
                                   {foldername: 'Folder 4', description: 'Deskripsi Folder 4'},
                                   {foldername: 'Folder 5', description: 'Deskripsi Folder 5'}
                                        ]" /> -->

        <ThePlaylist :iconplayer="iconplayer" :playlist="{ data: ['PlayList 1', 'PlayList 2', 'PlayList 3', 'PlayList 4', 'PlayList 5'] }" />
    </div>
</div>
</template>

