<script lang="ts">
import axios from 'axios';
import Fun from '../../../Functions/myfunction.vue';
import PlaylistCheck from './addto_playlist_check.vue';
import { defineComponent, ref } from 'vue';
export default defineComponent ({
    name: 'item-folder-list',
    mixins:[Fun],
    components: {
        PlaylistCheck
    },
    props: {
        itemlist: {
            type: Object,
            default: null
        },
        iconplayer: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            fileid: ref(''),
            filename: ref(''),
            filegenre: ref(''),
            fileartist: ref(''),
            filealbum: ref(''),
            filecomposer: ref(''),
            filepublisher: ref(''),
            filedescription: ref(''),
            iconplay: this.iconplayer['play'],
        }
    },
    created() {
        // console.log('iconplay', this.iconplay)
    },
    methods: {
        editFile() {
            $('.edit-data-file').attr('readonly', false);
            $('#btn_modal_edit_file').addClass('is-hidden');
            $('#btn_modal_cancel_edit_file').removeClass('is-hidden');
            $('#btn_modal_update_file').removeClass('is-hidden');
            $('#btn_modal_delete_file').addClass('is-hidden');

        },
        cancelEditFile() {
            $('.edit-data-file').attr('readonly', true);
            $('#btn_modal_edit_file').removeClass('is-hidden');
            $('#btn_modal_cancel_edit_file').addClass('is-hidden');
            $('#btn_modal_update_file').addClass('is-hidden');
            $('#btn_modal_delete_file').removeClass('is-hidden');
        },
        updateFile() {

        },
        deleteFile() {

        },
        isFavorited() {

        },
        itemFile(id: String, filename: String) {
            this.fileid = ref(id);
            this.filename = ref(filename);
            $('#modal-fileplay').addClass('is-active');
        },
        itemFilePopup(id: String, filename: String, genre: String, artist: String, album: String, composer: String, publisher: String, description: String) {
            this.fileid = ref(id);
            this.filename = ref(filename);
            this.filegenre = ref(genre);
            this.fileartist = ref(artist);
            this.filealbum = ref(album);
            this.filecomposer = ref(composer);
            this.filepublisher = ref(publisher);
            this.filedescription = ref(description);
            $('#modal-filesetting').addClass('is-active');
        },
        closeModalFileplay() {
            $('#modal-fileplay').removeClass('is-active');
        },
        closeModalFilesetting() {
            $('#modal-filesetting').removeClass('is-active');
        }
    }
})
</script>

<template>
<div v-for="(item, xitem) in itemlist" :key="xitem" class="item-list">
    <div class="columns is-mobile is-responsive">
        <div class="column is-1 center" @click="play">
            <span id="btn_mplaypause" title="Play">
                <img :src="iconplay" width="25" />
            </span>
        </div>

        <div class="column" @click="itemFile(item['id_1006'], item['filename'])">
            <span>
                {{ item['filename'] }}
            </span>
        </div>

        <div class="column right" @click="itemFilePopup(item['id_1006'],
                                                        item['filename'],
                                                        item['genre'],
                                                        item['artist'],
                                                        item['album'],
                                                        item['composer'],
                                                        item['publisher'],
                                                        item['ket'])">
            <span class="">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </span>
        </div>
    </div>
</div>

<div class="modal is-rounded" id="modal-fileplay">
    <div class="modal-background" @click="closeModalFileplay"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title text-is-black m-r-20">
                <span id="text-title">{{ filename }}</span>
                <div class="control is-hidden" id="edit-filename">
                    <input class="input edit-data-file" type="text" id="filename" placeholder="Filename.." v-model="filename" readonly />
                </div>
            </p>
            <button class="delete" aria-label="close" @click="closeModalFileplay"></button>
        </header>
        <section class="modal-card-body text-is-black" id="modal-text-file">
            <div class="is-mobile is-responsive item-list" @click="play">
                Play
            </div>

            <div class="is-mobile is-responsive item-list">
                Add to Playlist :
                <PlaylistCheck />
            </div>
        </section>
    </div>
</div>

<div class="modal is-rounded" id="modal-filesetting">
    <div class="modal-background" @click="closeModalFilesetting"></div>
    <div class="modal-card">
        <header class="modal-card-head">

            <p class="modal-card-title text-is-black m-l-0 m-r-20">
                <div class="control" id="edit-filename">
                    <input class="modal-edit-title edit-data-file" type="text" id="filename" placeholder="Filename.." v-model="filename" readonly />
                </div>
            </p>
            <button class="delete" aria-label="close" @click="closeModalFilesetting"></button>
        </header>
        <section class="modal-card-body text-is-black" id="modal-text-file">
            <div class="columns is-mobile is-responsive">
                <div class="column">
                    <div class="field is-half">
                        <div class="control">
                            <input class="input edit-data-file" type="text" id="genre" placeholder="Genre.." v-model="filegenre" readonly />
                        </div>
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input edit-data-file" type="text" id="artist" placeholder="Artist.." v-model="fileartist" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-mobile is-responsive">
                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input edit-data-file" type="text" id="album" placeholder="Album.." v-model="filealbum" readonly />
                        </div>
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input edit-data-file" type="text" id="composer" placeholder="Composer.." v-model="filecomposer" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-mobile is-responsive">
                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input edit-data-file" type="text" id="publisher" placeholder="Publisher.." v-model="filepublisher" readonly />
                        </div>
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input edit-data-file" type="text" id="description" placeholder="Description.." v-model="filedescription" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot center">
            <span class="" id="is-favorited" @click="isFavorited">
                <ion-icon name="heart-outline" size="large"></ion-icon>
            </span>

            <span class="button m-l-10" id="btn_modal_edit_file" @click="editFile">
                <ion-icon name="create-outline"></ion-icon>
            </span>

            <span class="button is-hidden" id="btn_modal_cancel_edit_file" @click="cancelEditFile">
                <ion-icon name="close-outline"></ion-icon>
            </span>

            <span class="button is-hidden" id="btn_modal_update_file" @click="updateFile(fileid)">
                <ion-icon name="save-outline"></ion-icon>
            </span>

            <span class="button" id="btn_modal_delete_file" @click="deleteFile(fileid)">
                <ion-icon name="trash-outline"></ion-icon>
            </span>

            <div class="m-l-10 field has-addons">
                <p class="control is">
                    <span class="select">
                        <select class="is" id="file-to-move-to-folder">
                            <option value="" disabled selected>-- Choose folder to move --</option>
                        </select>
                    </span>
                </p>
                <p class="control">
                    <button type="button" class="button is-expanded" id="btn_modal_oke_to_move_to" @click="movefile('file-to-move-to-folder', '')">
                        <ion-icon name="enter-outline"></ion-icon>
                    </button>
                </p>
            </div>

        </footer>
    </div>
</div>
</template>
