<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent ({
    name: 'nav-top',
    methods: {
        dashboard_musiclist() {
            // Tab Acivated
            $('#dashboard_musiclist').removeClass('is-hidden')
            $('#tab_musiclist').addClass('is-active')

            $('#dashboard_player').addClass('is-hidden')
            $('#tab_player').removeClass('is-active')

            $('#dashboard_folder').addClass('is-hidden')
            $('#tab_folder').removeClass('is-active')

            $('#dashboard_playlist').addClass('is-hidden')
            $('#tab_playlist').removeClass('is-active')

            $('#dashboard_musiclist').removeClass('is-hidden')
            $('#dashboard_musiclist').removeClass('is-hidden')

            // CSS Animation
            $('#dashboard_player').removeClass('w3-animate-left')
            $('#dashboard_player').addClass('w3-animate-right')

            $('#dashboard_folder').removeClass('w3-animate-left')
            $('#dashboard_folder').addClass('w3-animate-right')
        },
        dashboard_player() {
            // Tab Acivated
            $('#dashboard_musiclist').addClass('is-hidden')
            $('#tab_musiclist').removeClass('is-active')

            $('#dashboard_player').removeClass('is-hidden')
            $('#tab_player').addClass('is-active')

            $('#dashboard_folder').addClass('is-hidden')
            $('#tab_folder').removeClass('is-active')

            $('#dashboard_playlist').addClass('is-hidden')
            $('#tab_playlist').removeClass('is-active')

            // CSS Animation
            $('#dashboard_player').removeClass('w3-animate-left')
            $('#dashboard_player').removeClass('w3-animate-right')

            $('#dashboard_folder').removeClass('w3-animate-left')
            $('#dashboard_folder').addClass('w3-animate-right')
        },
        dashboard_folder() {
            // Tab Acivated
            $('#dashboard_musiclist').addClass('is-hidden')
            $('#tab_musiclist').removeClass('is-active')

            $('#dashboard_player').addClass('is-hidden')
            $('#tab_player').removeClass('is-active')

            $('#dashboard_folder').removeClass('is-hidden')
            $('#tab_folder').addClass('is-active')

            $('#dashboard_playlist').addClass('is-hidden')
            $('#tab_playlist').removeClass('is-active')

            // CSS Animation
            $('#dashboard_player').addClass('w3-animate-left')
            $('#dashboard_player').removeClass('w3-animate-right')

            $('#dashboard_folder').removeClass('w3-animate-left')
            $('#dashboard_folder').removeClass('w3-animate-right')
        },
        dashboard_playlist() {
            // Tab Acivated
            $('#dashboard_musiclist').addClass('is-hidden')
            $('#tab_musiclist').removeClass('is-active')

            $('#dashboard_player').addClass('is-hidden')
            $('#tab_player').removeClass('is-active')

            $('#dashboard_folder').addClass('is-hidden')
            $('#tab_folder').removeClass('is-active')

            $('#dashboard_playlist').removeClass('is-hidden')
            $('#tab_playlist').addClass('is-active')

            // CSS Animation
            $('#dashboard_player').addClass('w3-animate-left')
            $('#dashboard_player').removeClass('w3-animate-right')

            $('#dashboard_folder').addClass('w3-animate-left')
            $('#dashboard_folder').removeClass('w3-animate-right')
        },
    }
})
</script>

<template>
<div class="nav-top-text" id="dashboard-nav-top">
    <div class="tabs is-boxed is-large is-toggle-rounded is-centered" id="nav-tabs">
        <ul class="nav-theme">
            <li data-target="musiclist" id="tab_musiclist" @click="dashboard_musiclist()">
                <a href="#musiclist" id="tab-a" title="Music List" class="nav-top-text">
                    <ion-icon name="musical-note-outline"></ion-icon>
                </a>
            </li>
            <li class="is-active" data-target="play" id="tab_player" @click="dashboard_player()">
                <a href="#player" id="tab-a" title="Play" class="nav-top-text">
                    <ion-icon name="play-outline"></ion-icon>
                </a>
            </li>
            <li data-target="folder" id="tab_folder" @click="dashboard_folder()">
                <a href="#folderlist" id="tab-a" title="Folder" class="nav-top-text">
                    <ion-icon name="folder-open-outline"></ion-icon>
                </a>
            </li>
            <li data-target="playlist" id="tab_playlist" @click="dashboard_playlist()">
                <a href="#playlist" id="tab-a" title="Playlist" class="nav-top-text">
                    <ion-icon name="list-outline"></ion-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
</template>
