<script>
export default {
    name: 'button',
    props: {
        type: {
            type: String,
            default: null,
        },
        title: {
            type: String,
            default: null,
        },
        name: {
            type: String,
            default: null,
        },
        id: {
            type: String,
            default: null,
        }
    }
}
</script>

<template>
<button :type="type"
    :name="name"
    :id="id"
    :title="title"
    class="button is-success is-link is-rounded is-medium">
    <slot></slot>
</button>
</template>
