<script>
export default {
    name: 'input-checkbox',
    props: {
        title: {
            type: String,
            default: null,
        },
        text: {
            type: String,
            default: null,
        },
        modelValue: {
            type: String,
            default: null,
        },
        hasicon: {
            type: Boolean,
            default: false,
        },
        nameinput: {
            type: String,
            default: null,
        },
        idinput: {
            type: String,
            default: null,
        },
        ischecked: {
            type: Boolean,
            default: false,
        }
    }
}
</script>

<template>
<label class="checkbox">
    <input type="checkbox"
        :name="nameinput"
        :id="idinput"
        v-model="modelvalue"
        :checked=ischecked
        :title="title">
    <span v-if="hasicon"><slot /></span>
    <span v-else>{{ text }}</span>
</label>
</template>
