<script>
export default {
    name: 'linkto',
    props: {
        linkto: {
            type: String,
            default: '#'
        },
        title: {
            type: String,
            default: null
        }
    }
}
</script>

<template>
<a :href="linkto" :title="title">
    <slot />
</a>
</template>
