<script>
export default {
    name: 'input-select',
    props: {
        title: {
            type: String,
            default: null,
        },
        label: {
            type: String,
            default: null,
        },
        hastoplabel: {
            type: Boolean,
            default: false,
        },
        modelValue: {
            type: String,
            default: null,
        },
        nameinput: {
            type: String,
            default: null,
        },
        idinput: {
            type: String,
            default: null,
        },
    }
}
</script>

<template>
<span v-if="hastoplabel" class="bold">{{ label }}</span>
<div class="select">
    <select :name="nameinput" :id="idinput" :title="title" v-model="modelValue">
        <option value="" disabled selected>{{ '--' + label + '--' }}</option>
        <option v-for="ds in dataselect" :key="ds" :value="ds.value" :selected="ds.value == modelValue">{{ ds.text }}</option>
    </select>
</div>
</template>
