<script>
export default {
    name: 'input-text',
    props: {
        type: {
            type: String,
            default: null,
        },
        title: {
            type: String,
            default: null,
        },
        modelValue: {
            type: Object,
            default: null,
        },
        hasicon: {
            type: Boolean,
            default: false,
        },
        nameinput: {
            type: String,
            default: null,
        },
        idinput: {
            type: String,
            default: null,
        },
        placeholder: {
            type: String,
            default: null,
        },
    },
}
</script>

<template>
<div class="field">
    <div v-if="hasicon" class="control has-icons-left">
        <input :type="type"
            :name="nameinput"
            :id="idinput"
            :placeholder="placeholder"
            :v-model="modelValue"
            :title="title"
            class="input is-rounded">
        <span class="icon is-small is-left text-is-black bold">
            <slot/>
        </span>
    </div>

    <div v-else class="control">
        <input :type="type"
            :name="nameinput"
            :id="idinput"
            :placeholder="placeholder"
            :v-model="modelValue"
            :title="title"
            class="input is-rounded">
    </div>
</div>
</template>
