<script>
export default {
    name: 'input-textarea',
    props: {
        type: {
            type: String,
            default: null,
        },
        title: {
            type: String,
            default: null,
        },
        modelValue: {
            type: String,
            default: null,
        },
        hasicon: {
            type: Boolean,
            default: null,
        },
        nameinput: {
            type: String,
            default: null,
        },
        idinput: {
            type: String,
            default: null,
        },
        placeholder: {
            type: String,
            default: null,
        }
    },
}
</script>

<template>
<div class="field">
    <div class="control has-icons-left has-icons-right">
        <textarea :name="nameinput"
            :id="idinput"
            :placeholder="placeholder"
            :value="modelValue"
            :title="title"
            class="textarea is-rounded">

        </textarea>
    </div>
</div>
</template>
