<script>
import axios from 'axios';
export default {
    name: 'table-purchase-storage',
    data() {
        return {
            levelsystem : []
        }
    },
    created() {
        this.readData()
    },
    methods: {
        readData() {
            axios.get('../api/level/all').then(response => {
                // console.log(response.data.data);
                // assign state posts with response data
                this.levelsystem = response.data.data;
                // console.log('all levelsystem', this.levelsystem)
            }).catch(error => {
                console.log(error)
            })
        },
    },
}
</script>

<template>
    <table class="table tablebf is-mobile text-is-black" id="table_purchase_levelup">
        <thead>
            <th class="bold center text-is-black">Level</th>
            <th class="bold center text-is-black">Memory</th>
            <th class="bold center text-is-black">Monthly</th>
            <th class="bold center text-is-black">Yearly</th>
            <th class="bold center text-is-black">Lifetime</th>
        </thead>

        <tbody>
            <tr v-for="(dls, x) in levelsystem" :key="x" >
                <td class="center">{{ dls['level'] }}</td>
                <td class="right">{{ dls['memory'] + ' GB' }}</td>
                <td class="right">{{ '$' + dls['monthly_pay_usd'] + ' USD' }} </td>
                <td class="right">{{ '$' + dls['yearly_pay_usd'] + ' USD' }}</td>
                <td class="right">{{ '$' + dls['lifetime_pay_usd'] + ' USD' }}</td>
            </tr>
        </tbody>
    </table>
</template>

<style>
body {
    background-image: url('../assets/backwall/wall5.jpg') !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
</style>
