<script lang="ts">
import axios from 'axios';
import { getPlaylists, getFiles } from '../ffp.js';
import Fun from '../../../../Functions/myfunction.vue';
import Swal from 'sweetalert2';
import Itemlist from '../item_listfile.vue';
import { defineComponent, ref } from 'vue';
export default defineComponent ({
    name: 'playlist-music',
    components: {
        Itemlist, getPlaylists, getFiles,
    },
    mixins:[Fun],
    props: {
        iconplayer: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            listplaylists: ref([]),
            listfiles: ref([]),
            path: ref('All Playlist'),
            playlistid: ref(''),
            playlistname: ref(''),
            iconplay: this.iconplayer['play'],
        }
    },
    async created() {
        this.listplaylists = await getPlaylists(this.getCookie('mcr_x_aswq_2'), 'asc')
    },
    methods: {
        editPlaylist() {
            $('.edit-data-playlist').attr('readonly', false);
            $('#btn_modal_edit_playlist').addClass('is-hidden');
            $('#btn_modal_cancel_edit_playlist').removeClass('is-hidden');
        },
        cancelEditPlaylist() {
            $('.edit-data-playlist').attr('readonly', true);
            $('#btn_modal_edit_playlist').removeClass('is-hidden');
            $('#btn_modal_cancel_edit_playlist').addClass('is-hidden');
        },
        updatePlaylist() {

        },
        deletePlaylist() {

        },
        async itemPlaylist(id: String, playlistname: String) {
            this.path = ref(playlistname);
            this.listfiles = await getFiles(this.getCookie('mcr_x_aswq_2'), id, 'filename', 'asc', 'playlist')
            console.log('listfiles', this.listfiles);
            $('#nav-path-playlist').html(this.path);
            $('#nav-item-back-playlist').removeClass('is-hidden');
            if(playlistname == 'All Playlist') $('#nav-item-back-playlist').addClass('is-hidden');
        },
        itemPlaylistSetting(id: String, playlistname: String) {
            this.playlistid = ref(id)
            this.playlistname = ref(playlistname)
            $('#modal-playlist').addClass('is-active');
        },
        modalPlaylistClose() {
            $('#modal-playlist').removeClass('is-active');
        }
    }
})
</script>

<template>
<div id="dashboard_playlist" class="is-hidden fadein p-0 m-t-0">
    <div class="m-l-r-10 m-t-10 text-is-black" id="nav-breadcumb">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul id="nav-playlist">
                <li id="nav-item-back-playlist" class="is-hidden" @click="itemPlaylist('root', 'All Playlist')">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </li>
                <li class="m-l-10">
                    <a href="#" id="nav-path-playlist">{{ playlistname }}</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="m-t-10 m-b-50 text-is-black">
        <div v-if="path === 'All Playlist'">
            <div v-for="(pl, xpl) in listplaylists" :key="xpl" :id="xpl+'.'+pl['playlist']" class="item-list">
                <div class="columns is-mobile is-responsive">
                    <div class="column is-1 center" @click="play">
                        <span id="btn_mplaypause" title="Play">
                            <img :src="iconplay" width="25" />
                        </span>
                    </div>

                    <div class="column is-10" @click="itemPlaylist(pl['id_1005'], pl['playlist'])">
                        <span>
                            {{ pl['playlist'] }}
                        </span>
                    </div>

                    <div class="column is-1 center" @click="itemPlaylistSetting(pl['id_1005'], pl['playlist'])">
                        <span class="">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div v-else>
            <Itemlist :itemlist="listfiles" :iconplayer="iconplayer" />
        </div>
    </div>

    <button type="button" id="fab-playlist nav-theme" class="fab">
        <ion-icon name="add-outline" size="large"></ion-icon>
    </button>
</div>

<div class="modal is-rounded" id="modal-playlist">
    <div class="modal-background" @click="modalPlaylistClose"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title text-is-black m-r-20">
                <div class="control" id="edit-playlistname">
                    <input class="modal-edit-title edit-data-playlist" type="text" id="playlistname" placeholder="Filename.." v-model="playlistname" readonly />
                </div>
            </p>
            <button class="delete" aria-label="close" @click="modalPlaylistClose"></button>
        </header>
        <section class="modal-card-body text-is-black">
            <!-- memberikan informasi file apa saja yang terdaftar -->
        </section>
        <footer class="modal-card-foot center">
            <span class="button" id="btn_modal_edit_playlist" @click="editPlaylist">
                <ion-icon name="create-outline"></ion-icon>
            </span>

            <span class="button is-hidden" id="btn_modal_cancel_edit_playlist" @click="cancelEditPlaylist">
                <ion-icon name="close-outline"></ion-icon>
            </span>

            <span class="button" id="btn_modal_update_playlist" @click="updateplaylist(fileid)" disabled>
                <ion-icon name="save-outline"></ion-icon>
            </span>

            <span class="button" id="btn_modal_delete_playlist" @click="deleteplaylist(fileid)">
                <ion-icon name="trash-outline"></ion-icon>
            </span>
        </footer>
    </div>
</div>
</template>
