<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent ({
    name: 'musiclist-music',
    props: {
        musiclist: {
            type: Object,
            default: null,
        }
    },
    data() {
        return {

        }
    }
})
</script>

<template>
<div id="dashboard_musiclist" class="is-hidden fadein p-0 m-t-0">
    <div class="field has-addons">
        <div class="control is-link">
            <div class="select is-fullwidth is-rounded">
                <select name="select_playlist" id="select_playlist" class="">
                    <option value="" disabled selected>-- Select Playlist --</option>
                </select>
            </div>
        </div>
        <div class="control is-expanded">
            <input type="text" name="" id="" class="input is-rounded" placeholder="Find your music here within selected playlist..">
        </div>
    </div>

    <div class="has-text-black">
        <div class="item-list" v-for="(ml, xmusiclist) in musiclist.data" :key="xmusiclist">
            {{ ml.name }}
        </div>
    </div>
</div>
</template>
